---
import ProfileNeedHelp from "@/components/ProfileNeedHelp";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
    Profile
  </h1>
  <p class="leading-7 [&:not(:first-child)]:mt-6 mb-4">
    Select between beneficiary or volunteer.
  </p>
  <ProfileNeedHelp client:only="react" />
</Layout>
